html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    background-image: url("../images/what-the-hex/what-the-hex.png");
    color: #777777;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 2em;
    font-family: Georgia, Times, "Times New Roman", serif;
}

a {
    color: #777777;
    text-decoration: none;
}

a.banner-link {
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #4aaaa5;
    font-size: 2.1em;
    font-weight: 600;
    margin-bottom: .75em;
}

hr {
    border: .1em solid #dddddd;
    margin-bottom: 1.5em;
}

p {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.15em;
    text-indent: 1.5em;
    line-height: 1.3em;
}

form {
    font-size: 1.1em;
    line-height: 1.4em;    
}

::placeholder {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #999999;
}

input[type=text] {
    width: 98.5%;
    font-size: .75em;
    padding: .5em;
    border: 1px solid #cccccc;
    background-color: #f9f9f9;
}

textarea {
    width: 98.5%;
    font-size: .75em;
    padding: .5em;
    border: 1px solid #cccccc;
    background-color: #f9f9f9;
}

input[type="submit"] {
    background-color: #4aaaa5;
    color: white;
    font-size: 1em;
    padding: .5em 2em;
}

footer {
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    color: #cccccc;
    text-align: center;
    height: 1em;
    padding-top: 2.5em;
    padding-bottom: 1em;
    font-size: .75em;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.header {
    height: 4.75em;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.name-logo {
    float: left;
    background-color: #4aaaa5;
    padding: .9em;
    color: white;
    font-size: 1.75em;
}

.nav-bar {
    float: right;
    color: #777777;
    padding: 2em 0 2em 2em;
}

.margin-correct {
    width: 960px;
    margin: 20px auto 120px;
}

.container {
    clear: both;
    display: block;
    overflow: auto;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 2em;
    /* width: 960px;
    margin: 20px auto 120px; */
    color: #777777;
}

.headshot {
    float: left;
    margin-right: 1em;
    margin-bottom: .5em;
    height: 240px;
}

.project-container {
    clear: both;
    display: block;
}

.project {
    float: left;
    margin-bottom: 20px;
    position: relative;
}

.odd {
    margin-right: 20px;
}

.banner {
    background-color: #4aaaa5;
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    height: 50px;
    width: 320px;
    text-align: center;
    padding-top: 20px;
    font-size: 2em;
}

/* Begin Media Queries */
@media screen and (max-width: 980px) {
    .header {
        width: 94vw;
        margin: 0 3vw;
    }
    
    .margin-correct {
        padding: 0 3vw;
        width: 94vw;
    }

    .container {
        width: 730px;
    }
}

@media screen and (max-width: 760px) {    
    .container {
        width: 94vw;
    }
}

@media screen and (max-width: 680px) {    
    .name-logo {
        clear: both;
        display: block;
        width: 100vw;
        text-align: center;
        padding: .7em;
    }

    .nav-bar {
        clear: both;
        display: block;
        text-align: center;
        width: 100vw;
        padding: .75em 0 1em 1em;

    }

    .header {
        width: 100vw;
        margin: 0;
        height: 7em;
    }

    .headshot {
        float: none;
        display: block;
        margin: 0 auto 1em;
    }

    .project {
        float: none;
        display: block;
        left: calc(50% - 160px);
    }

    p {
        clear: both;
        display: block;
    }
}